<%# 付箋メモ風コレクション %>
<%# 動画サムネイルに付箋が貼ってあるデザイン %>
<% post = entry.post %>
<% sticky_colors = ['#fef08a', '#fed7aa', '#bbf7d0', '#bfdbfe', '#ddd6fe', '#fbcfe8'] %>
<% sticky_color = sticky_colors[entry.id % sticky_colors.length] %>

<article class="sticky-card">
  <%# 動画サムネイル %>
  <div class="sticky-card__video">
    <div class="sticky-card__thumbnail">
      <%= image_tag "https://i.ytimg.com/vi/#{post.youtube_video_id}/mqdefault.jpg",
            alt: post.youtube_title,
            loading: "lazy" %>
    </div>
    <p class="sticky-card__title"><%= truncate(post.youtube_title, length: 35) %></p>
  </div>

  <%# 付箋メモ %>
  <div class="sticky-card__note" style="--sticky-color: <%= sticky_color %>;">
    <div class="sticky-card__note-content">
      <p class="sticky-card__note-text"><%= entry.content %></p>
      <div class="sticky-card__note-footer">
        <span class="sticky-card__note-check">✓</span>
        <span class="sticky-card__note-date"><%= entry.achieved_at.strftime("%-m/%-d") %></span>
      </div>
    </div>
    <div class="sticky-card__note-shadow"></div>
  </div>
</article>
