<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= content_for(:title) || "引用 - mitadake?" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="theme-color" content="#0a0a0a">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "quotes_showcase", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body class="quotes-showcase-page">
  <%= yield %>
</body>
</html>
